.faq-section {
    background-color: var(--light-cream);
}
.faq-section .sec-address {
    text-align: center;
}
.faq-section .section-header {
    color: var(--dark-coffee);
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.faq-section .accordion-item {
    margin-bottom: 1rem;
    border: none;
}
.faq-section .accordion-button {
    background-color: var(--latte);
    color: var(--dark-coffee);
    font-weight: bold;
    border: 0.7px solid var(--light-coffee);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.faq-section .accordion-button::after {
    color: var(--dark-coffee);
}
.faq-section .accordion-button:focus {
    box-shadow: none;
}
.faq-section .accordion-button:not(.collapsed) {
    box-shadow: 1px 4px 6px 0px var(--coffee);
    border-bottom: none;
}
.faq-section .accordion-body {
    color: var(--coffee);
}