.forgot-form-container {
    background-color: var(--light-cream);
    max-width: 450px;
    flex-grow: 1;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 2.5rem;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.forgot-form-container .form-heading > h2 {
    color: var(--dark-coffee);
}
.forgot-form-container .form-heading > p {
    color: var(--coffee);
    font-size: 15px;
}
.forgot-form-container #password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.forgot-form-container #password-form  .input {
    width: 100%;
}
.forgot-form-container #password-form  .input input {
    border: 1.5px solid var(--light-coffee);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 100%;
    padding: 0.5rem;
    color: var(--dark-coffee);
    outline: none;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    background-color: var(--latte);
}
.forgot-form-container #password-form  .input input:focus {
    border: 1.5px solid var(--coffee);
}
.forgot-form-container #password-form  .input input::placeholder {
    color: var(--coffee);
    opacity: 0.7;
    font-size: 14px;
}
.forgot-form-container #password-form #submit-btn {
    width: 100%;
    background-color: var(--dark-coffee);
    color: var(--latte);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.forgot-form-container #password-form #submit-btn:hover {
    background-color: var(--coffee);
}
.forgot-form-container #loing {
    color: var(--light-coffee);
    font-size: 14px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.forgot-form-container #loing:hover {
    color: var(--dark-coffee);
    text-decoration: underline !important;
}

/* Error Msg */
.forgot-form-container .err-msg {
    font-size: 12px;
    color: red;
}